client/src/wsdl/localhost_8084/SemService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.thesemproject.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.thesemproject.org/" name="SemService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.thesemproject.org/" schemaLocation="http://localhost:8084/SemService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLanguage">
<part name="parameters" element="tns:getLanguage"/>
</message>
<message name="getLanguageResponse">
<part name="parameters" element="tns:getLanguageResponse"/>
</message>
<message name="getHtmlSegmentationFromText">
<part name="parameters" element="tns:getHtmlSegmentationFromText"/>
</message>
<message name="getHtmlSegmentationFromTextResponse">
<part name="parameters" element="tns:getHtmlSegmentationFromTextResponse"/>
</message>
<message name="getHtmlSegmentationFromBinary">
<part name="parameters" element="tns:getHtmlSegmentationFromBinary"/>
</message>
<message name="getHtmlSegmentationFromBinaryResponse">
<part name="parameters" element="tns:getHtmlSegmentationFromBinaryResponse"/>
</message>
<message name="getHtmlSegmentationFromFile">
<part name="parameters" element="tns:getHtmlSegmentationFromFile"/>
</message>
<message name="getHtmlSegmentationFromFileResponse">
<part name="parameters" element="tns:getHtmlSegmentationFromFileResponse"/>
</message>
<message name="getSegmentationFromText">
<part name="parameters" element="tns:getSegmentationFromText"/>
</message>
<message name="getSegmentationFromTextResponse">
<part name="parameters" element="tns:getSegmentationFromTextResponse"/>
</message>
<message name="getSegmentationFromBinary">
<part name="parameters" element="tns:getSegmentationFromBinary"/>
</message>
<message name="getSegmentationFromBinaryResponse">
<part name="parameters" element="tns:getSegmentationFromBinaryResponse"/>
</message>
<message name="getSegmentationFromFile">
<part name="parameters" element="tns:getSegmentationFromFile"/>
</message>
<message name="getSegmentationFromFileResponse">
<part name="parameters" element="tns:getSegmentationFromFileResponse"/>
</message>
<message name="getTextFromBinary">
<part name="parameters" element="tns:getTextFromBinary"/>
</message>
<message name="getTextFromBinaryResponse">
<part name="parameters" element="tns:getTextFromBinaryResponse"/>
</message>
<message name="getFormattedTextFromBinary">
<part name="parameters" element="tns:getFormattedTextFromBinary"/>
</message>
<message name="getFormattedTextFromBinaryResponse">
<part name="parameters" element="tns:getFormattedTextFromBinaryResponse"/>
</message>
<message name="getFormattedTextFromFile">
<part name="parameters" element="tns:getFormattedTextFromFile"/>
</message>
<message name="getFormattedTextFromFileResponse">
<part name="parameters" element="tns:getFormattedTextFromFileResponse"/>
</message>
<message name="getClassificationsFromText">
<part name="parameters" element="tns:getClassificationsFromText"/>
</message>
<message name="getClassificationsFromTextResponse">
<part name="parameters" element="tns:getClassificationsFromTextResponse"/>
</message>
<message name="getClassificationsFromBinary">
<part name="parameters" element="tns:getClassificationsFromBinary"/>
</message>
<message name="getClassificationsFromBinaryResponse">
<part name="parameters" element="tns:getClassificationsFromBinaryResponse"/>
</message>
<message name="getClassificationsFromFile">
<part name="parameters" element="tns:getClassificationsFromFile"/>
</message>
<message name="getClassificationsFromFileResponse">
<part name="parameters" element="tns:getClassificationsFromFileResponse"/>
</message>
<message name="getImageFromBinary">
<part name="parameters" element="tns:getImageFromBinary"/>
</message>
<message name="getImageFromBinaryResponse">
<part name="parameters" element="tns:getImageFromBinaryResponse"/>
</message>
<message name="getImagesFromBinary">
<part name="parameters" element="tns:getImagesFromBinary"/>
</message>
<message name="getImagesFromBinaryResponse">
<part name="parameters" element="tns:getImagesFromBinaryResponse"/>
</message>
<message name="getImagesFromFile">
<part name="parameters" element="tns:getImagesFromFile"/>
</message>
<message name="getImagesFromFileResponse">
<part name="parameters" element="tns:getImagesFromFileResponse"/>
</message>
<message name="getClassificationTree">
<part name="parameters" element="tns:getClassificationTree"/>
</message>
<message name="getClassificationTreeResponse">
<part name="parameters" element="tns:getClassificationTreeResponse"/>
</message>
<message name="addEvaluation">
<part name="parameters" element="tns:addEvaluation"/>
</message>
<message name="addEvaluationResponse">
<part name="parameters" element="tns:addEvaluationResponse"/>
</message>
<message name="getImageFromFile">
<part name="parameters" element="tns:getImageFromFile"/>
</message>
<message name="getImageFromFileResponse">
<part name="parameters" element="tns:getImageFromFileResponse"/>
</message>
<message name="getServersNames">
<part name="parameters" element="tns:getServersNames"/>
</message>
<message name="getServersNamesResponse">
<part name="parameters" element="tns:getServersNamesResponse"/>
</message>
<message name="getTextFromFile">
<part name="parameters" element="tns:getTextFromFile"/>
</message>
<message name="getTextFromFileResponse">
<part name="parameters" element="tns:getTextFromFileResponse"/>
</message>
<message name="getServerDetails">
<part name="parameters" element="tns:getServerDetails"/>
</message>
<message name="getServerDetailsResponse">
<part name="parameters" element="tns:getServerDetailsResponse"/>
</message>
<message name="clearEvaluation">
<part name="parameters" element="tns:clearEvaluation"/>
</message>
<message name="clearEvaluationResponse">
<part name="parameters" element="tns:clearEvaluationResponse"/>
</message>
<message name="tagCloud">
<part name="parameters" element="tns:tagCloud"/>
</message>
<message name="tagCloudResponse">
<part name="parameters" element="tns:tagCloudResponse"/>
</message>
<message name="tagClouds">
<part name="parameters" element="tns:tagClouds"/>
</message>
<message name="tagCloudsResponse">
<part name="parameters" element="tns:tagCloudsResponse"/>
</message>
<portType name="SemService">
<operation name="getLanguage">
<input wsam:Action="http://server.thesemproject.org/SemService/getLanguageRequest" message="tns:getLanguage"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getLanguageResponse" message="tns:getLanguageResponse"/>
</operation>
<operation name="getHtmlSegmentationFromText">
<input wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromTextRequest" message="tns:getHtmlSegmentationFromText"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromTextResponse" message="tns:getHtmlSegmentationFromTextResponse"/>
</operation>
<operation name="getHtmlSegmentationFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromBinaryRequest" message="tns:getHtmlSegmentationFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromBinaryResponse" message="tns:getHtmlSegmentationFromBinaryResponse"/>
</operation>
<operation name="getHtmlSegmentationFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromFileRequest" message="tns:getHtmlSegmentationFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getHtmlSegmentationFromFileResponse" message="tns:getHtmlSegmentationFromFileResponse"/>
</operation>
<operation name="getSegmentationFromText">
<input wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromTextRequest" message="tns:getSegmentationFromText"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromTextResponse" message="tns:getSegmentationFromTextResponse"/>
</operation>
<operation name="getSegmentationFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromBinaryRequest" message="tns:getSegmentationFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromBinaryResponse" message="tns:getSegmentationFromBinaryResponse"/>
</operation>
<operation name="getSegmentationFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromFileRequest" message="tns:getSegmentationFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getSegmentationFromFileResponse" message="tns:getSegmentationFromFileResponse"/>
</operation>
<operation name="getTextFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getTextFromBinaryRequest" message="tns:getTextFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getTextFromBinaryResponse" message="tns:getTextFromBinaryResponse"/>
</operation>
<operation name="getFormattedTextFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getFormattedTextFromBinaryRequest" message="tns:getFormattedTextFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getFormattedTextFromBinaryResponse" message="tns:getFormattedTextFromBinaryResponse"/>
</operation>
<operation name="getFormattedTextFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getFormattedTextFromFileRequest" message="tns:getFormattedTextFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getFormattedTextFromFileResponse" message="tns:getFormattedTextFromFileResponse"/>
</operation>
<operation name="getClassificationsFromText">
<input wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromTextRequest" message="tns:getClassificationsFromText"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromTextResponse" message="tns:getClassificationsFromTextResponse"/>
</operation>
<operation name="getClassificationsFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromBinaryRequest" message="tns:getClassificationsFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromBinaryResponse" message="tns:getClassificationsFromBinaryResponse"/>
</operation>
<operation name="getClassificationsFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromFileRequest" message="tns:getClassificationsFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getClassificationsFromFileResponse" message="tns:getClassificationsFromFileResponse"/>
</operation>
<operation name="getImageFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getImageFromBinaryRequest" message="tns:getImageFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getImageFromBinaryResponse" message="tns:getImageFromBinaryResponse"/>
</operation>
<operation name="getImagesFromBinary">
<input wsam:Action="http://server.thesemproject.org/SemService/getImagesFromBinaryRequest" message="tns:getImagesFromBinary"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getImagesFromBinaryResponse" message="tns:getImagesFromBinaryResponse"/>
</operation>
<operation name="getImagesFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getImagesFromFileRequest" message="tns:getImagesFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getImagesFromFileResponse" message="tns:getImagesFromFileResponse"/>
</operation>
<operation name="getClassificationTree">
<input wsam:Action="http://server.thesemproject.org/SemService/getClassificationTreeRequest" message="tns:getClassificationTree"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getClassificationTreeResponse" message="tns:getClassificationTreeResponse"/>
</operation>
<operation name="addEvaluation">
<input wsam:Action="http://server.thesemproject.org/SemService/addEvaluationRequest" message="tns:addEvaluation"/>
<output wsam:Action="http://server.thesemproject.org/SemService/addEvaluationResponse" message="tns:addEvaluationResponse"/>
</operation>
<operation name="getImageFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getImageFromFileRequest" message="tns:getImageFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getImageFromFileResponse" message="tns:getImageFromFileResponse"/>
</operation>
<operation name="getServersNames">
<input wsam:Action="http://server.thesemproject.org/SemService/getServersNamesRequest" message="tns:getServersNames"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getServersNamesResponse" message="tns:getServersNamesResponse"/>
</operation>
<operation name="getTextFromFile">
<input wsam:Action="http://server.thesemproject.org/SemService/getTextFromFileRequest" message="tns:getTextFromFile"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getTextFromFileResponse" message="tns:getTextFromFileResponse"/>
</operation>
<operation name="getServerDetails">
<input wsam:Action="http://server.thesemproject.org/SemService/getServerDetailsRequest" message="tns:getServerDetails"/>
<output wsam:Action="http://server.thesemproject.org/SemService/getServerDetailsResponse" message="tns:getServerDetailsResponse"/>
</operation>
<operation name="clearEvaluation">
<input wsam:Action="http://server.thesemproject.org/SemService/clearEvaluationRequest" message="tns:clearEvaluation"/>
<output wsam:Action="http://server.thesemproject.org/SemService/clearEvaluationResponse" message="tns:clearEvaluationResponse"/>
</operation>
<operation name="tagCloud">
<input wsam:Action="http://server.thesemproject.org/SemService/tagCloudRequest" message="tns:tagCloud"/>
<output wsam:Action="http://server.thesemproject.org/SemService/tagCloudResponse" message="tns:tagCloudResponse"/>
</operation>
<operation name="tagClouds">
<input wsam:Action="http://server.thesemproject.org/SemService/tagCloudsRequest" message="tns:tagClouds"/>
<output wsam:Action="http://server.thesemproject.org/SemService/tagCloudsResponse" message="tns:tagCloudsResponse"/>
</operation>
</portType>
<binding name="SemServicePortBinding" type="tns:SemService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLanguage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHtmlSegmentationFromText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHtmlSegmentationFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHtmlSegmentationFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegmentationFromText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegmentationFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegmentationFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTextFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFormattedTextFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFormattedTextFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClassificationsFromText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClassificationsFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClassificationsFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagesFromBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagesFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClassificationTree">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEvaluation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServersNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTextFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearEvaluation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagCloud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagClouds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SemService">
<port name="SemServicePort" binding="tns:SemServicePortBinding">
<soap:address location="http://localhost:8084/SemService"/>
</port>
</service>
</definitions>